@import url("https://fonts.googleapis.com/css?family=Fira Mono' rel='stylesheet'");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Fira Mono';
}

.map {
  position: relative;
  background-color: #353633;
  min-height: 400px;
  min-width: 300px;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
}

#home {
  height: 100px;
  width: 100px;
  background-color: #c3ff00;
}

#school {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 50px;
  top: 150px;
  background-color: #c3ff00;
}

#universe {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 200px;
  bottom: 200px;
  background-color: #c3ff00;
}

#hero {
  position: absolute;
  transition: all 300ms;
  left: 0px;
  top: 0px;
}
