body {
  /* transition: all 1ms; */
}

.map {
  position: relative;
  background-color: #353633;
  min-height: 400px;
  min-width: 300px;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
}

#home {
  height: 100px;
  width: 100px;
  background-color: aqua;
}

#school1 {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 50px;
  top: 150px;
  background-color: aqua;
}

#school2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: aqua;
}

#school3 {
  height: 100px;
  width: 100px;
  background-color: aqua;
}

#universe {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 200px;
  bottom: 200px;
  background-color: aqua;
}

#hero {
  position: absolute;
  transition: all 300ms;
  left: 0px;
  top: 0px;
}
